body {
  background-color: rgb(0, 255, 170);
}

h1 {
  color: black;
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
}

h6 {
  color: black;
  text-align: center;
}

#link {
  
  text-align: center;
}
